*

!./.devcontainer/
!./.devcontainer/*
!./.devcontainer/**/*
!./.git/
!./.git/*
!./.git/**/*
!./.githooks/
!./.githooks/*
!./.githooks/**/*

!./cmake/
!./cmake/*
!./cmake/**/*

!./src/
!./src/*
!./src/**/*
!./include/
!./include/*
!./include/**/*
!./test/
!./test/*
!./test/**/*
!./third_party/
!./third_party/*
!./third_party/**/*

!build.py
!.ccls
!.clangd
!.clang-format
!CMakeLists.txt
!.editorconfig
!format.sh
!.gitignore
!README.md
